@charset "UTF-8";
/* CSS Document */

:target:before {
    content: "";
    display: block;
    height: 80px;
    margin: -30px 0 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
 --main-color:#000532;
}
html {
    scroll-behavior: smooth;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-color);
    height: 100%;
    width: 100%;
    margin: 0px;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@font-face {
    font-family: BebasNeue;
    src: url("../Fonts/BebasNeue.otf");
}
@font-face {
    font-family: Helvetica;
    src: url("../Fonts/Helvetica.dfont");
}
#main-nav {
    background-color: var(--main-color);
    width: 100%;
}
a#nav-select {
    color: var(--primary-color)!important;
}
a#nav-select:before {
    content: " ";
    background-color: var(--primary-color) !important;
    -webkit-mask-image: url(../img/check.svg);
    mask-image: url(../img/check.svg);
    list-style-type: none;
    position: relative;
    display: inline-block;
    width: 10px;
    height: 11px;
    top: 0px;
    left: 0px;
}
.navbar {
    padding: 0px!important;
}
.main-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px!important;
    margin: 0px !important;
    border: solid;
}
#collapsibleNavbar3, #collapsibleNavbar2{
    display: none;
    justify-content: center;
}
#collapsibleNavbar2.show, #collapsibleNavbar3.show{
    display: flex;
    justify-content: center;
}
.main-nav.main-nav--lang {
    width: 30%;
}
.nav-2 {
    border-top: 1px solid #8A8496;
    text-align: center
}
.logo {
    padding: 10px 0px 10px 0px;
    flex-grow: 1;
    text-align: center;
}
.logo img {
    max-width: 12vw;
    min-width: 150px;
}
.links {
    flex-grow: 2;
}
.main-nav li {
    list-style: none;
    flex-grow: 2;
}
.main-nav li a:hover {
    color: #8A8496;
    text-decoration: none;
}
.main-nav li:nth-child(n+6) {
    flex-grow: 0;
}
.main-nav li a {
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    padding: 25px 10px 25px 10px!important;
}
li.es {
    display: none;
}
.navbar-toggler.navbar-webs {
    display: block !important;
}
.display-4 {
    line-height : 116px;
    font-size: 6.5rem;
}
.header .container {
    height: 100%;
}
.header {
    background-size: cover!important;
    background-position: top center!important;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    text-align: center;
    border-radius: 0 0 100% 100% / 0 0 20% 20%;
}

.header.header-agr{
    height: calc(70vh - 70px);
}
.header span {
    position: absolute;
    bottom: 20px;
    margin: 0px -15px;
}
#healthcare .badge-pill {
    background-color: white !important;
}
#healthcare .badge-pill h5 {
    color: var(--primary-color)!important;
}
.badge-pill {
    background-color: var(--secondary-color)!important;
    text-align: center;
}
.badge-pill h5 {
    color: white !important;
    font-weight: 600;
    margin: 0px!important;
    padding: 8px 25px 8px 25px;
}
h1 {
    color: var(--primary-color)!important;
    font-family: BebasNeue;
}

h1.trn{
    font-size: 65px;
    font-family: BebasNeue;
    line-height: 0.9;
}

h2.trn{
    font-size: 45px;
    font-family: BebasNeue;
    line-height: 0.9;
    margin-bottom: 10px;
}
h4 {
    font-family: BebasNeue;
    color: var(--tertiary-color);
    padding: 10px;
}
h6 {
    color: var(--tertiary-color);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}
p {
    /* font-size: 0.9rem; */
    line-height: 1.3;
    font-size: 16px;
}
li {
    font-size: 0.9rem;
    line-height: 2;
}
section {
    padding: 30px 0 30px 0;
    width: 100%;
    position: relative;
}

#home #section1{
    min-height: calc(30vh - 70px);
    display: flex;
    align-items: center;    
}

#section1 img {
    max-width: 120%;
    position: absolute;
    height: auto;
    top: 18px;
    right: -45%;
    margin: 0;
}

#section1 li {
    font-size: 0.9rem;
    line-height: 1.3;
}
#main-home {
    background-image: url("../img/home/Fondo_home.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px!important;
}
.main-back{
    background-image: url("../img/home/back-demo2.png");
    border: solid red;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#home {
    /* background-color: var(--primary-color)!important; */
    /* background-image: url("../img/home/Fondo_2_titular.png"); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}
#home #section1 h1 {
    color: var(--secondary-color)!important;
}
#home #section1 p {
    color: white!important;
}
#home .text-header, #home .text-header h1.display-4 {
    color: white!important;
    text-align: left!important;
}
#home header .container {
    display: flex;
    align-items: center;
}
#home .text-header {
    /* position: absolute; */
    max-width: 100%;
    width: 100%;
}
.text-header .icon{
    text-align: center;
    margin-top: 30px;
}
.pink{
    color: #de6666;
}
#section2 {
    background-color: var(--primary-color)!important;
}
#section2 p {
    color: var(--tertiary-color);
}
#consumer #section2 p, #consumer #section2 li, #consumer #section2 h1.display-4, #consumer #section3 h1.display-4, #consumer #section3 li, #business #section3 h1.display-4, #business #section3 li {
    color: white !important;
}
#section2 .icon {
    width: 100%;
    text-align: center;
    margin: 30px 0px 20px 0px;
}
#section2 .icon img {
    max-height: 90px;
}
#section2 h1, #section3 h1 {
    color: var(--secondary-color)!important;
}
#b2b #section3 h1 {
    color: var(--primary-color)!important;
}
#b2b #section2 p, #b2b #section2 li, #b2b #section2 h4, #healthcare #section2 p, #healthcare #section2 li, #healthcare #section2 h4 {
    color: white !important;
}
#b2b #section2 li, #healthcare #section2 li {
    font-size: 0.9rem;
    line-height: 1.3;
}
#business #section2 li, #business #section2 h4 {
    color: var(--secondary-color)!important;
}
#consumer #section3, #business #section3 {
    background-color: var(--secondary-color)!important;
}
#section3 ul.check {
    list-style: none;
    line-height: 2;
}
#section3 ul.check li:before {
    content: "";
    background-color: var(--tertiary-color) !important;
    -webkit-mask-image: url(../img/check.svg);
    mask-image: url(../img/check.svg);
    position: relative;
    display: inline-block;
    width: 14px;
    height: 16px;
    top: 0px;
    left: 0px;
}
#business #section3 ul.check li:before {
    background-color: var(--primary-color) !important;
}
#consumer #section3 ul.check li:before {
    background-color: var(--primary-color) !important;
}
#section3 li {
    font-weight: 600;
    color: var(--tertiary-color);
    font-size: 16px;
}
#section3 .row div.img {
    padding: 0px;
}
#section3 .row img {
    width: 100%;
    height: auto;
}
#section4 ul li {
    list-style: none;
    text-align: right;
    line-height: 30px;
}
#section4 h1 {
    color: var(--main-color)!important;
    text-align: right;
}
#section4 img {
    width: 100%;
}
.border-bottom {
    border-bottom: 2px solid!important;
    border-color: var(--secondary-color)!important;
    padding-top: 0px;
    margin-bottom: 30px !important;
    max-width: 300px;
    margin: 0 auto;
}
#b2b .border-bottom {
    border-color: var(--quaternary-color)!important;
}
#contacto span {
    text-align: right;
}

#contacto .btn-primary {
    background-color: var(--main-color)!important;
    border: none;
    border-radius: 100rem;
    padding: 7px 40px 10px 40px !important;
    margin: 0px!important;
}
#contacto .btn-primary:hover {
    background-color: var(--primary-color)!important;
}
.form-control {
    border-radius: 2rem;
    border-color: var(--main-color)!important;
    background-color: transparent!important;
    color: #000532 !important;
}
.form-control.textarea {
    border-radius: 1rem!important;
    background-color: transparent!important;
}
.form-control::placeholder {
 color:var(--main-color)!important;
}
footer {
    position: relative;
    bottom: 0px;
    height: 100px;
    width: 100%;
    z-index: 1;
}
footer small {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 55px;     
}
footer .container {
    height: 100%;
    position: relative;
    z-index: -2;
}
#home footer .container {
}
.container {
    z-index: 2;
}
.container .row div {
    z-index: 2;
}
.footer-home {
    overflow: hidden;
    width: 40%;
    min-height: 140px;
    height: auto;
    background-image: url(../img/Elemento-inferior_cierre2.png);
    background-position: 82% 25%;
    background-repeat: no-repeat;
}
/* footer .item3 {
    overflow: hidden;
    width: 100%;
    min-height: 100px;
    height: auto;
} */
.item3 img {
    width: 100% !important;
    height: auto;
    position: relative;
    left: 0px;
    bottom: 0px;
}
.item2 {
    position: absolute;
    bottom: 0px;
    z-index: 0;
}
.item2.item-izq {
    left: -100px;
    bottom: 0px;
    width: 20% !important;
}
.item {
    position: absolute;
    top: 0px;
}
.item.item-der {
    right: 0px;
    width: 30% !important;
}
.item.item-izq {
    left: 0px;
    top: -120px;
    width: 20% !important;
}
.item img {
    width: 100% !important;
    height: auto !important;
    position: relative;
}

.tel {
    margin-top: -5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.tel span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: white;
}
.tel-balck span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: black;
}
.cinta{
    margin-left: -270px;
    margin-right: -270px;
}
.jus{
    padding-left: 70px;
}
.clean{
    list-style-type: none;
}

.clara{
    color: white !important;
}

.img-carousel{
    display: flex;
}

.img-carousel .img{
    flex: 1;
}
.img-carousel .img img{
    width: 100%;
    height: auto;
}

.paragrph li{
    font-size: 16px !important;
}

.flex-list{
    display: flex;
    flex-wrap: wrap;
}
.flex-list li{
    width: 40%;
    font-size: 16px;
}

@media screen and (max-width: 991.98px) {
	.main-nav {
		flex-direction: column;
	}
	.lenguage {
		flex-grow: 5;
	}
	.main-nav li {
		padding: 6px 0px 6px 0px!important;
	}
	.badge-pill {
		margin: 0 auto;
	}
	footer small {
		bottom: 20px;
		left: 20%;
	}
	#section1 img {
		width: 100%;
		position: relative;
		height: auto;
		right: -15px;
		top: 0px;
	}
}

@media (max-width: 767.98px) {
	#section2 {
		margin-top: -180px;
		z-index: 20;
    }
    
    h1.trn, h2.trn{
        font-size: 40px;
    }
    p {
        font-size: 16px;
    }

    #home #section1 {
        min-height: 30vh;
    }

    .footer-home{
        width: 100%;
        background-position: 82% 35%;
    }
}

@media (max-width: 575.98px) {
	#section2 {
		margin-top: -120px;
		z-index: 20;
	}
	#section4 h1 {
		text-align: left !important;
	}
	#section4 li {
		text-align: left !important;
	}
	#section4 {
		margin-bottom: 30px;
	}
	.item, .item2 {
		display: none;
	}
	section {
		padding: 20px 0 0 0;
	}
	.item3 {
		max-width: 100%;
	}
	.item3 img {
		width: 150% !important;
		left: -80px;
	}
}
